apiVersion: constraints.gatekeeper.sh/v1beta1
kind: BlockPrivilegedPod
metadata:
  name: block-privileged-terraform-ns
spec:
  enforcementAction: deny
  match:
    kinds:
      - apiGroups: [""]
        kinds: ["Pod"]
    namespaces:
      - terraform
  parameters: {}
